<div class='cms_form'>
<%  paragraph_options_form_for :group do |f| -%>
  <%= f.select :social_unit_type_id, [['--Any Type--',nil]] +  SocialUnitType.select_options(:order => 'name'),:label => 'Type to display' %>
  <%= f.radio_buttons :display_type, f.object.class.display_type_select_options,:separator => "<br/>" %>
  <%= f.check_box :child_member,:description => 'Show if a member of the child unit' %>
  <%= f.page_selector :edit_page_id  %>
  <%= f.page_selector :base_page_id, :label => 'Base group page' %>
<% end -%>
</div>
