    <div class="comment">
      <div class="wallpic">
        <% if entry.end_user.domain_file %>
          <%= entry.end_user.domain_file.image_tag(:thumb) %>
        <% end %>
      </div>
      <div class="text">
        <p class="style1"><%= entry.end_user.name %> wrote:</p>
        <p class="style3"><%= entry.created_at.strftime("On %a, %B %d") %> wrote:</p>
        <p><%= entry.message %></p>
      </div>
    </div>

